
*.pyc
/backend/src/db.sqlite3
/homebase/settings.py
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

# data
*.dump

#vscode
/vscode/*

# npm
frontend/node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# General
/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip
