html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%; 
    justify-content: center;
    align-content: center;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.7);
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
}

/* THE STYLING FOR THE BG IMAGE STARTS HERE */

.BgImage {
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: -1;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: teal;
}

.BgImage img {
    filter: brightness(50%);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.BgImage2 {
    position: absolute;
    top: 100%;
    left: 0rem;
    z-index: -1;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: teal;
}

.BgImage2 img {
    filter: brightness(50%);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.go-to-todolist-button {
    position: absolute;
    color: white;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 0;
    right: 1.5rem;
    top: 86rem;
    opacity: 100%;
    transition: opacity .8s;
}

.go-to-todolist-button:focus {
    background: none;
    border: none;
    outline: none;
    opacity: 0%;
}

.go-to-top-button {
    position: absolute;
    color: white;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 5000;
    right: 1.5rem;
    top: 94rem;
    opacity: 100%;
    transition: opacity .8s;
}

.go-to-top-button:focus {
    background: none;
    border: none;
    outline: none;
    opacity: 0%;
}
/* THE STYLING FOR THE BG IMAGE ENDS HERE */






/* THE STYLING FOR THE NAV BAR STARTS HERE */
.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    bottom: 1rem;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    color: white;
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverable::before{
position:absolute;
pointer-events: none;
z-index:-1;
content: '';
top: 100%;
left: 5%;
height:10px;
width:90%;
opacity:0;
transition-duration: 0.3s;
transition-property: transform, opacity;
}

.hoverable:hover{
    transform: translateY(-5px);
    color: rgb(235, 197, 128);
    text-decoration: none;
}
.hoverable:hover::before, .hoverable:active:before, .hoverable:focus::before{
opacity: 1;
transform: translateY(-5px);
}
/* THE STYLING FOR THE NAV BAR ENDS HERE */



/* THE STYLING FOR THE WEATHER STARTS HERE */
.city-name-input-container {
    width: 60%;
    height: 7rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 27rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.city-form {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: auto;
    font-size: 1.8rem;
    color: white;
    overflow: hidden;

}

.city-input {
    width: 200%;
    height: 100%;
    padding-top: 1rem;
    border: none;
    color: white;
    background: none;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.city-form label {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0rem;
    color: white;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.1rem solid rgb(206, 206, 206);
}

.city-form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    bottom: -0.1rem;
    border-bottom: 0.2rem solid rgb(235, 197, 128);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.city-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.city-form input:focus + .city-label .city-span,
.city-form input:valid + .city-label .city-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: rgb(235, 197, 128);
}

.city-form input:focus + .city-label::after, 
.city-form input:valid + .city-form::after {
    transform: translateX(0%);
}

.format-example {
    opacity: 70%;
    font-size: 1.5rem;
}

.change-city-button-container {
    width: 100%;
    margin: auto;
    justify-content: left;
    margin-bottom: 2rem;
    position: relative;
    bottom: 4rem;
}

.enter-city-button {
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    float: right;
    margin-right: 0.5rem;
}

.enter-city-button:hover{
    color:rgb(235, 197, 128);
}

.enter-city-button:focus{
    background: none;
    border: none;
    outline: none;
}

.weather {
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    display: flex;
}

.location-and-time-container {
    width: 30%;
    height: 14rem;
}

.location-and-time-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    letter-spacing: 0rem;
    margin-top: 2rem;
    color: white;
}

.location-and-time-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: lighter;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.1rem;
    color: white;
}

.location-and-time-container h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: lighter;
    font-style: normal;
    text-align: left;
    color: white;
    letter-spacing: 0.1rem;
}

.location-and-time-container h3::first-letter {
    text-transform: uppercase;
}

.high-low-container {
    width: 50%;
    height: 14rem;
    display: block;
    margin-right: 7rem;
}

.high-low-container h1 {
    height: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: white;
    margin-left: 3.5rem;
    margin-bottom: -2rem;
    margin-top: 1.8rem;
}

.high-low-container h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    color: white;
}

.high-low-container img {
    width: 20%;
    height: 90%;
    position: relative;
    right: 1rem;
}

.conditions-container {
    width: 20%;
    height: 14rem;
    display: block;
}

.conditions-container h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: lighter;
    letter-spacing: 0rem;
    color: white;
    text-align: left;
}

.top-h5 {
    margin-top: 3rem;
}
/* THE STYLING FOR THE WEATHER ENDS HERE */




/* THE STYLING FOR THE QUOTE STARTS HERE */

.quote-of-the-day {
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
}

.quote-of-the-day h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: lighter;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.1rem;
    color: white;
}

.quote-of-the-day h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;
    color: white;
    text-align: right;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

/* THE STYLING FOR THE QUOTE ENDS HERE */




/* THE STYLING FOR THE TODO INPUT FORM STARTS HERE */

.input-form-container {
    width: 60%;
    justify-content: center;
    margin-top: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    position: absolute;
    left: 37.5rem;
    top: 60rem;
}

.todo-title-form {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: auto;
    font-size: 1.8rem;
    color: white;
    overflow: hidden;
}

.todo-title-input {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    border: none;
    color: white;
    background: none;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.todo-title-form label {
    font-family: 'Monterrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    color: white;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.1rem solid  rgb(255, 255, 255);
}

.todo-description-form {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: auto;
    font-size: 1.8rem;
    margin-top: 1rem;
    color: white;
    overflow: hidden;
}

.todo-description-input {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    border: none;
    color: white;
    background: none;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.todo-description-form label {
    font-family: 'Monterrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    color: white;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.1rem solid  rgb(255, 255, 255);
}

.todo-title-form label::after, 
.todo-description-form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    bottom: -0.1rem;
    border-bottom: 0.2rem solid rgb(235, 197, 128);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.title-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.description-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.todo-title-form input:focus + .title-label .title-span,
.todo-title-form input:valid + .title-label .title-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: rgb(235, 197, 128);
}

.todo-description-form input:focus + .description-label .description-span, 
.todo-description-form input:valid + .description-label .description-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: rgb(235, 197, 128);
}

.todo-title-form input:focus + .title-label::after, 
.todo-title-form input:valid + .title-form::after {
    transform: translateX(0%);
}

.todo-description-form input:focus + .description-label::after, 
.todo-description-form input:valid + .description-label::after{
    transform: translateY(0%);
}

.add-todo-button-container {
    width: 100%;
    margin: auto;
    justify-content: left;
    margin-bottom: 2rem;
}

.add-todo-button{
    font-family: 'Monterrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-size: 1.9rem;

    background: none;
    color: white;
    border: none;
    float: right;
    margin-right: 0.5rem;
}

.add-todo-button:hover{
    color: rgb(235, 197, 128);
} 

.add-todo-button:focus{
    background: none;
    border: none;
    outline: none;
}
/* THE STYLING FOR THE TODO INPUT FORM ENDS HERE */






/* THE STYLING FOR THE ENTIRE TODO LIST STARTS HERE */
.scrollable-div {
    width: 60%;
    height: 57rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 120rem;
    left: 37.5rem;
}

.todo-component-div {
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-bottom: solid 1px white;
}

.todo-list-div {
    margin-bottom: 15rem;
}

.todo-component-div[value="true"] {
    opacity: 60%;
}

.todo-title {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: white;
}

.todo-title[value="true"] {
    text-decoration: line-through;
    opacity: 60%;
}

.todo-content {
    width: 93%;
    color: rgb(255, 254, 254);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    font-style: normal;
    text-transform: lowercase;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

/* .todo-content::first-letter {
    text-transform: uppercase;
} */

.todo-complete-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.7rem;
    float: right;
    margin-right: 2rem;
    position: relative;
    bottom: 5rem;
}

.todo-delete-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.7rem;
    float: right;
    margin-right: 0.5rem;
    position: relative;
    bottom: 5rem;
}

.todo-complete-btn:hover {
    color: rgb(56, 206, 42);
}

.todo-delete-btn:hover {
    color: rgb(250, 47, 47);
}

.todo-complete-btn:focus,
.todo-delete-btn:focus {
    background: none;
    border: none;
    outline: none;
}

.divider {
    border-color: rgb(206, 206, 206);
    border-style: solid;
    border-top-width: 0rem;
    border-right-width: 0rem;
    border-left-width: 0rem;
    border-bottom-width: 0.1rem;
    margin-bottom: 2rem;
    min-width: 100%;
}
/* THE STYLING FOR THE ENTIRE TODO LIST ENDS HERE */





