html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%; 
    justify-content: center;
    align-content: center;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./static/japan-arch.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: turquoise;

    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}


/* THE STYLING FOR THE NAV BAR STARTS HERE */
.navbar-container {
    width: 100%;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0rem;
    left: 0rem;
}

.logo-link {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 0.8rem 6.6rem;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo-link:hover {
    text-decoration: none;
    color: orangered;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 6rem;
    list-style: none;
    overflow: hidden;
    color: #fff;
    text-align: right;
    margin: 0.8rem 7.6rem;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2.6rem;
    margin-left: 2rem;
}

.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    color: white;
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverable::before{
position:absolute;
pointer-events: none;
z-index:-1;
content: '';
top: 100%;
left: 5%;
height:10px;
width:90%;
opacity:0;
transition-duration: 0.3s;
transition-property: transform, opacity;
}

.hoverable:hover{
    transform: translateY(-5px);
    color: orangered;
    text-decoration: none;
}
.hoverable:hover::before, .hoverable:active:before, .hoverable:focus::before{
opacity: 1;
transform: translateY(-5px);
}
/* THE STYLING FOR THE NAV BAR ENDS HERE */




/* THE STYLING FOR THE HOME PAGE STARTS HERE */

.welcome-message {
    width: 60%;
    height: 10rem;
    justify-content: center;
    align-items: center;
    margin-top: 40rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.welcome-message h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: lighter;
    color: white;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

/* THE STYLING FOR THE HOME PAGE STARTS HERE */





/* THE STYLING FOR THE TODO INPUT FORM STARTS HERE */

.input-form-container {
    width: 60%;
    justify-content: center;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 2rem;
}

.todo-title-form {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: auto;
    font-size: 1.8rem;
    color: white;
    overflow: hidden;
}

.todo-title-input {
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background: none;
    outline: none;
}

.todo-title-form label {
    font-family: 'Monterrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: white;

    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.1rem solid  rgb(206, 206, 206);
}

.todo-description-form {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: auto;
    font-size: 1.8rem;
    margin-top: 1rem;
    color: white;
    overflow: hidden;
}

.todo-description-input {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    border: none;
    color: white;
    background: none;
    outline: none;
}

.todo-description-form label {
    font-family: 'Monterrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: white;

    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.1rem solid  rgb(206, 206, 206);
}

.todo-title-form label::after, 
.todo-description-form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    bottom: -0.1rem;
    border-bottom: 0.2rem solid orangered;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.title-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.description-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.todo-title-form input:focus + .title-label .title-span,
.todo-title-form input:valid + .title-label .title-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: orangered;
}

.todo-description-form input:focus + .description-label .description-span, 
.todo-description-form input:valid + .description-label .description-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: orangered;
}

.todo-title-form input:focus + .title-label::after, 
.todo-title-form input:valid + .title-form::after {
    transform: translateX(0%);
}

.todo-description-form input:focus + .description-label::after, 
.todo-description-form input:valid + .description-label::after{
    transform: translateY(0%);
}

.add-todo-button-container {
    width: 100%;
    margin: auto;
    justify-content: left;
    margin-bottom: 2rem;
}

.add-todo-button{
    font-family: 'Monterrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-size: 1.8rem;

    background: none;
    color: white;
    border: none;
    float: right;
    margin-right: 0.5rem;
}

.add-todo-button:hover{
    color: orangered;
} 
/* THE STYLING FOR THE TODO INPUT FORM ENDS HERE */






/* THE STYLING FOR THE ENTIRE TODO LIST STARTS HERE */
.todo-component-div {
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 2rem;
}

.todo-list-ul {
    padding: 0rem;
    list-style: none;
    color: whitesmoke;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.todo-list-ul[value="true"] {
    opacity: 60%;
}

.todo-title {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

.todo-title[value="true"] {
    text-decoration: line-through;
    opacity: 60%;
}

.todo-content {
    color: rgb(238, 238, 238);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    font-weight: normal;
    padding-bottom: 0.5rem;
}

.todo-content::first-letter {
    text-transform: uppercase;
}

.todo-complete-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.todo-delete-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.todo-complete-btn:hover {
    color: rgb(56, 206, 42);
}

.todo-delete-btn:hover {
    color: rgb(250, 47, 47);
}

.divider {
    border-color: rgb(206, 206, 206);
    border-style: solid;
    border-top-width: 0rem;
    border-right-width: 0rem;
    border-left-width: 0rem;
    border-bottom-width: 0.1rem;
    margin-bottom: 2rem;
    min-width: 100%;
}
/* THE STYLING FOR THE ENTIRE TODO LIST ENDS HERE */





