html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: white black;
}

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%; 
    justify-content: center;
    align-content: center;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    overflow: overlay;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
}

/* THE STYLING FOR THE BG IMAGE STARTS HERE */

.BgImage {
    position: relative;
    top: 0rem;
    left: 0rem;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.BgImage img {
    filter: brightness(40%);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.BgImage2 {
    position: relative;
    top: 100%;
    left: 0rem;
    z-index: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.BgImage2 img {
    filter: brightness(40%);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.go-to-todolist-button {
    position: absolute;
    color: white;
    background: none;
    border: none;
    font-size: 2.5vw;
    z-index: 0;
    right: 1.5rem;
    bottom: 0.1rem;
    opacity: 100%;
    transition: opacity 1s;
}

.go-to-todolist-button:focus {
    background: none;
    border: none;
    outline: none;
    opacity: 40%;
}

.go-to-todolist-button:hover {
    background: none;
    color: rgb(235, 197, 128);
}

.go-to-top-button {
    position: absolute;
    color: white;
    background: none;
    border: none;
    font-size: 2.5vw;
    z-index: 0;
    right: 1.5rem;
    top: 0.1rem;
    opacity: 100%;
    transition: opacity 1s;
}

.go-to-top-button:focus {
    background: none;
    border: none;
    outline: none;
    opacity: 40%;
}

.go-to-top-button:hover {
    background: none;
    color: rgb(235, 197, 128);
}
/* THE STYLING FOR THE BG IMAGE ENDS HERE */




/* THE STYLING FOR THE NAV BAR STARTS HERE */
.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    color: white;
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverable::before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover{
    transform: translateY(-5px);
    color: rgb(235, 197, 128);
    text-decoration: none;
}

.hoverable:hover::before, .hoverable:active:before, .hoverable:focus::before{
opacity: 1;
transform: translateY(-5px);
}
/* THE STYLING FOR THE NAV BAR ENDS HERE */



/* THE STYLING FOR THE WEATHER STARTS HERE */
.city-name-input-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 65%;
    height: 7rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    z-index: 1;
}

.city-form {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: auto;
    font-size: 1.8rem;
    color: white;
    overflow: hidden;

}

.city-input {
    width: 200%;
    height: 100%;
    padding-top: 1rem;
    border: none;
    color: white;
    background: none;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.city-form label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0rem;
    color: white;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.2rem solid rgb(206, 206, 206);
}

.city-form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    bottom: -0.1rem;
    border-bottom: 0.2rem solid rgb(235, 197, 128);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.city-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.city-form input:focus + .city-label .city-span,
.city-form input:valid + .city-label .city-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: rgb(235, 197, 128);
}

.city-form input:focus + .city-label::after, 
.city-form input:valid + .city-form::after {
    transform: translateX(0%);
}

.format-example {
    opacity: 70%;
    font-size: 1.5rem;
}

.change-city-button-container {
    width: 100%;
    margin: auto;
    justify-content: left;
    margin-bottom: 2rem;
    position: relative;
    bottom: 4rem;
}

.enter-city-button {
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    float: right;
    margin-right: 0.5rem;
}

.enter-city-button:hover{
    color:rgb(235, 197, 128);
}

.enter-city-button:focus{
    background: none;
    border: none;
    outline: none;
}

.weather {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 65%;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
}

.location-and-time-container {
    height: 17rem;
}

.location-and-time-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    letter-spacing: 0rem;
    margin-top: 2rem;
    color: white;
}

.location-and-time-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.1rem;
    color: white;
}

.location-and-time-container h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    font-style: normal;
    text-align: left;
    color: white;
    letter-spacing: 0.1rem;
}

.location-and-time-container h3::first-letter {
    text-transform: uppercase;
}

.high-low-container {
    height: 17rem;
    display: block;
}

.high-low-container h1 {
    height: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.7vw;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: white;
    margin-left: 3.5rem;
    margin-bottom: -2rem;
    margin-top: 1.8rem;
}

.high-low-container h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: white;
    margin-top: 0.5rem;
}

.high-low-container img {
    width: 7vw;
    height: 7vw;
    position: relative;
    right: 1rem;
    bottom: 0.5rem;
}

.conditions-container {
    height: 17rem;
    display: block;
}

.conditions-container h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    letter-spacing: 0rem;
    color: white;
    text-align: left;
    margin-bottom: 1rem;
}

.top-h5 {
    margin-top: 3rem;
}
/* THE STYLING FOR THE WEATHER ENDS HERE */




/* THE STYLING FOR THE QUOTE STARTS HERE */

.quote-of-the-day {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 65%;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding: 2rem;
}

.quote-of-the-day h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    letter-spacing: 0.1rem;
    color: white;
}

.quote-of-the-day h2::before, .quote-of-the-day h2::after {
    content: '"';
}

.quote-of-the-day h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
    font-weight: normal;
    font-style: italic;
    color: white;
    text-align: right;
    letter-spacing: 0.1rem;
    margin-top: 0rem;
}

.quote-of-the-day ul li {
    list-style: none;
}

/* THE STYLING FOR THE QUOTE ENDS HERE */




/* THE STYLING FOR THE TODO INPUT FORM STARTS HERE */

.input-form-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 65%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    z-index: 1;
}

.todo-title-form {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: auto;
    font-size: 1.8rem;
    color: white;
    overflow: hidden;
}

.todo-title-input {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    border: none;
    color: white;
    background: none;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.todo-title-form label {
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    color: white;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.2rem solid  rgb(255, 255, 255);
    margin-bottom: 0.5rem;
}

.todo-description-form {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: auto;
    font-size: 1.8rem;
    margin-top: 1rem;
    color: white;
    overflow: hidden;
}

.todo-description-input {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    border: none;
    color: white;
    background: none;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.todo-description-form label {
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    color: white;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.2rem solid  rgb(255, 255, 255);
}

.todo-title-form label::after, 
.todo-description-form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    bottom: -0.1rem;
    border-bottom: 0.3rem solid rgb(235, 197, 128);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.title-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.description-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.todo-title-form input:focus + .title-label .title-span,
.todo-title-form input:valid + .title-label .title-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: rgb(235, 197, 128);
}

.todo-description-form input:focus + .description-label .description-span, 
.todo-description-form input:valid + .description-label .description-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: rgb(235, 197, 128);
}

.todo-title-form input:focus + .title-label::after, 
.todo-title-form input:valid + .title-form::after {
    transform: translateX(0%);
}

.todo-description-form input:focus + .description-label::after, 
.todo-description-form input:valid + .description-label::after{
    transform: translateY(0%);
}

.add-todo-button-container {
    width: 100%;
    margin: auto;
    justify-content: left;
    margin-bottom: 2rem;
}

.add-todo-button{
    font-size: 1.9rem;
    background: none;
    color: white;
    border: none;
    float: right;
    margin-right: 0.5rem;
}

.add-todo-button:hover{
    color: rgb(235, 197, 128);
} 

.add-todo-button:focus{
    background: none;
    border: none;
    outline: none;
}
/* THE STYLING FOR THE TODO INPUT FORM ENDS HERE */






/* THE STYLING FOR THE ENTIRE TODO LIST STARTS HERE */
.scrollable-div {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 65%;
    height: 57rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(-50%);
}

.todo-component-div {
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    width: 100%;
    padding: 2rem 0rem;
    border-bottom: solid 2px white;
}

.todo-component-div[value="true"] {
    opacity: 60%;
}

.todo-title {
    font-size: 1.6vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: white;
}

.todo-title[value="true"] {
    text-decoration: line-through;
    opacity: 60%;
}

.todo-content {
    width: 93%;
    color: rgb(255, 254, 254);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    font-weight: normal;
    font-style: normal;
    text-transform: lowercase;
    padding-bottom: 0.5rem;
}

/* .todo-content::first-letter {
    text-transform: uppercase;
} */

.todo-complete-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.7rem;
    float: right;
    margin-right: 2rem;
    position: relative;
    bottom: 5rem;
}

.todo-delete-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.7rem;
    float: right;
    margin-right: 0.5rem;
    position: relative;
    bottom: 5rem;
}

.todo-complete-btn:hover {
    color: rgb(56, 206, 42);
}

.todo-delete-btn:hover {
    color: rgb(250, 47, 47);
}

.todo-complete-btn:focus,
.todo-delete-btn:focus {
    background: none;
    border: none;
    outline: none;
}

.divider {
    border-color: rgb(206, 206, 206);
    border-style: solid;
    border-top-width: 0rem;
    border-right-width: 0rem;
    border-left-width: 0rem;
    border-bottom-width: 0.1rem;
    margin-bottom: 2rem;
    min-width: 100%;
}
/* THE STYLING FOR THE ENTIRE TODO LIST ENDS HERE */

@media screen and (min-width:2000px) {
    .high-low-container h4 {
        margin-top: 3rem;
    }


    .location-and-time-container h1 {
        font-size: 2.5vw;
    }
    
    .location-and-time-container h2, .location-and-time-container h3 {
        font-size: 1.5vw;
    }

    .quote-of-the-day {
        margin-top: 5rem;
    }
}

@media screen and (max-width:1400px) {
    .high-low-container h1 {
        margin-bottom: -4rem;
    }
}


@media screen and (max-width:1024px) {
    .city-name-input-container {
        width: 90%;
        height: 9rem;
    }

    .city-form label {
        font-size: 2.5vw;
    }



    .weather {
        width: 90%;
    }

    .location-and-time-container h1 {
        font-size: 3vw;
    }
    
    .location-and-time-container h2, .location-and-time-container h3 {
        font-size: 2vw;
    }



    .high-low-container h1 {
        font-size: 3.7vw;
        margin-top: 1.3rem;
        margin-bottom: -3rem;
    }
    
    .high-low-container h4 {
        font-size: 1.8vw;
        margin-top: 0rem;
    }


    
    .conditions-container h5 {
        font-size: 1.8vw;
        margin-bottom: 0.8rem;
    }



    .quote-of-the-day {
        width: 90%;
    }

    .quote-of-the-day h2 {
        font-size: 2.5vw;
    }

    .quote-of-the-day h3 {
        font-size: 2.2vw;
    }



    .input-form-container {
        width: 85%;
    }

    .todo-title-form label {
        font-size: 2vw;
    }

    .todo-description-form label {
        font-size: 2vw;
    }

    .scrollable-div {
        width: 85%;
        top: 35%;
    }

    .todo-component-div {
        padding: 1.5rem 0rem;
    }

    .todo-title {
        font-size: 2vw;
        width: 85%;
    }

    .todo-content {
        font-size: 1.8vw;
        width: 85%;
    }
}


@media screen and (max-width:480px) {

    .city-name-input-container {
        width: 100%;
        height: 9rem;
    }

    .city-form label {
        font-size: 4.5vw;
    }

    .format-example {
        font-size: 3.5vw;
    }

    .enter-city-button {
        font-size: 4.5vw;
    }



    .weather {
        width: 100%;
        height: 18%;
    }

    .location-and-time-container h1 {
        font-size: 4vw;
    }
    
    .location-and-time-container h2, .location-and-time-container h3 {
        font-size: 2.5vw;
    }



    .high-low-container h1 {
        font-size: 7vw;
        margin-top: 2rem;
        margin-bottom: -6.5rem;
        margin-left: 1.5rem;
    }
    
    .high-low-container h4 {
        font-size: 2.5vw;
        margin-top: 0rem;
    }

    .high-low-container img {
        position: relative;
        right: 0rem;
        bottom: 0rem;
        width: 10vw;
        height: 10vw;
    }


    
    .conditions-container h5 {
        font-size: 2.4vw;
        margin-bottom: 0.8rem;
    }

    .conditions-container h5:first-child {
        margin-top: 2rem;
    }



    .quote-of-the-day {
        width: 100%;
        top: 50%;
    }

    .quote-of-the-day h2 {
        font-size: 3.5vw;
    }

    .quote-of-the-day h3 {
        font-size: 3vw;
    }



    .go-to-todolist-button {
        font-size: 6vw;
        right: 0.8rem;
    }

    .go-to-top-button {
        font-size: 6vw;
        right: 0.8rem;
    }



    .input-form-container {
        width: 90%;
    }

    .todo-title-form label {
        font-size: 3.5vw;
    }

    .todo-description-form label {
        font-size: 3.5vw;
    }

    .scrollable-div {
        width: 90%;
        top: 35%;
    }

    .todo-component-div {
        padding: 1rem 0rem;
    }

    .todo-title {
        font-size: 3.5vw;
        width: 85%;
    }

    .todo-content {
        font-size: 2.8vw;
        width: 85%;
        margin-bottom: 0rem;
    }

    .todo-complete-btn {
        font-size: 1.2rem;
        margin-right: 1rem;
    }
    
    .todo-delete-btn {
        font-size: 1.2rem;
    }

    .add-todo-button{
        font-size: 1.5rem;
    }
}