html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: white black;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: visible;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
}

/* THE STYLING FOR THE BG IMAGE STARTS HERE */
.weather-and-quote-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BgImage {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 200ms ease-in-out 0s;
    filter: brightness(50%);
    background: url(https://source.unsplash.com/3840x2160/daily?technology) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -5;
}

.BgImage2 {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 1;
    transition: opacity 200ms ease-in-out 0s;
    filter: brightness(50%);
    background: url(https://source.unsplash.com/3840x2160/daily?pet) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -5;
}

.go-to-todolist-button {
    position: absolute;
    color: white;
    background: none;
    border: none;
    font-size: 3rem;
    bottom: 0.5rem;
    opacity: 100%;
    transition: opacity 1s;
}

.go-to-todolist-button:focus {
    background: none;
    border: none;
    outline: none;
    opacity: 40%;
}

.go-to-todolist-button:hover {
    background: none;
    color: rgb(235, 197, 128);
}

.go-to-top-button {
    position: absolute;
    color: white;
    background: none;
    border: none;
    font-size: 3rem;
    top: 0.5rem;
    opacity: 100%;
    transition: opacity 1s;
}

.go-to-top-button:focus {
    background: none;
    border: none;
    outline: none;
    opacity: 40%;
}

.go-to-top-button:hover {
    background: none;
    color: rgb(235, 197, 128);
}
/* THE STYLING FOR THE BG IMAGE ENDS HERE */




/* THE STYLING FOR THE NAV BAR STARTS HERE */
.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    color: white;
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverable::before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover{
    transform: translateY(-5px);
    color: rgb(235, 197, 128);
    text-decoration: none;
}

.hoverable:hover::before, .hoverable:active:before, .hoverable:focus::before{
opacity: 1;
transform: translateY(-5px);
}
/* THE STYLING FOR THE NAV BAR ENDS HERE */



/* THE STYLING FOR THE WEATHER STARTS HERE */
.city-name-input-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.city-form {
    width: 100%;
    position: relative;
    height: 5rem;
    margin: auto;
    font-size: 1.8rem;
    color: white;
    overflow: hidden;

}

.city-input {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    border: none;
    color: white;
    background: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.city-form label {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0rem;
    color: white;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.2rem solid rgb(206, 206, 206);
}

.city-form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    bottom: -0.1rem;
    border-bottom: 0.2rem solid rgb(235, 197, 128);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.city-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.city-form input:focus + .city-label .city-span,
.city-form input:valid + .city-label .city-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: rgb(235, 197, 128);
}

.city-form input:focus + .city-label::after, 
.city-form input:valid + .city-form::after {
    transform: translateX(0%);
}

.format-example {
    opacity: 70%;
    font-size: 1.5rem;
}

.change-city-button-container {
    width: 100%;
    margin: auto;
    justify-content: left;
    margin-bottom: 2rem;
    position: relative;
    bottom: 4rem;
}

.enter-city-button {
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    float: right;
    margin-right: 0.5rem;
}

.enter-city-button:hover{
    color:rgb(235, 197, 128);
}

.enter-city-button:focus{
    background: none;
    border: none;
    outline: none;
}

.weather {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.location-and-time-container {
    height: 100%;
}

.location-and-time-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    color: white;
}

.location-and-time-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
    color: white;
}

.location-and-time-container h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
    color: white;
}

.location-and-time-container h3::first-letter {
    text-transform: uppercase;
}

.high-low-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.high-low-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color: white;
}

.currTemp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hlTemps-container {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.high-low-container h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(236, 236, 236);
}

.high-low-container img {
    width: 4.5vw;
    height: 4.5vw;
}

.conditions-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.conditions-container h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 0rem;
    color: white;
    text-align: left;
    margin-bottom: 1rem;
}


/* THE STYLING FOR THE WEATHER ENDS HERE */




/* THE STYLING FOR THE QUOTE STARTS HERE */

.quote-of-the-day {
    width: 65%;
}

.quote-of-the-day h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    letter-spacing: 0.1rem;
    color: white;
}

.quote-of-the-day h2::before, .quote-of-the-day h2::after {
    content: '"';
}

.quote-of-the-day h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: right;
    letter-spacing: 0.1rem;
    margin-top: 0rem;
}

.quote-of-the-day ul li {
    list-style: none;
}

/* THE STYLING FOR THE QUOTE ENDS HERE */




/* THE STYLING FOR THE TODO INPUT FORM STARTS HERE */
.todo-list{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.input-form-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.todo-form{
    width: 100%;
    margin-bottom: 2rem;
}

.todo-description-form {
    width: 100%;
    position: relative;
    height: 5rem;
    font-size: 2rem;
    color: white;
    overflow: hidden;
}

.todo-description-input {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    border: none;
    color: white;
    background: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

.todo-description-form label {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    color: white;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0.2rem solid  rgb(255, 255, 255);
}

.todo-title-form label::after, 
.todo-description-form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    bottom: -0.2rem;
    border-bottom: 0.3rem solid rgb(235, 197, 128);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.title-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.description-span {
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    transition: all 0.3s ease;
}

.todo-title-form input:focus + .title-label .title-span,
.todo-title-form input:valid + .title-label .title-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: rgb(235, 197, 128);
}

.todo-description-form input:focus + .description-label .description-span, 
.todo-description-form input:valid + .description-label .description-span {
    transform: translateY(-80%);
    font-size: 1.6rem;
    color: rgb(235, 197, 128);
}

.todo-title-form input:focus + .title-label::after, 
.todo-title-form input:valid + .title-form::after {
    transform: translateX(0%);
}

.todo-description-form input:focus + .description-label::after, 
.todo-description-form input:valid + .description-label::after{
    transform: translateY(0%);
}

.add-todo-button-container {
    width: 100%;
    margin: auto;
    justify-content: left;
    margin-bottom: 2rem;
}

.add-todo-button{
    font-size: 1.9rem;
    background: none;
    color: white;
    border: none;
    float: right;
}

.add-todo-button:hover{
    color: rgb(235, 197, 128);
} 

.add-todo-button:focus{
    background: none;
    border: none;
    outline: none;
}
/* THE STYLING FOR THE TODO INPUT FORM ENDS HERE */






/* THE STYLING FOR THE ENTIRE TODO LIST STARTS HERE */
.scrollable-div {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 65%;
    height: 57rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
    
}

.todo-component-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.todo-component-div[value="true"] {
    opacity: 60%;
}

.todo-content {
    width: 93%;
    color: rgb(255, 254, 254);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
}

.todo-content::before{
    content: "• ";
}

.todo-content[value="true"]{
    text-decoration: line-through;
}

.btn-container{
    display: flex;
}

.todo-complete-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.7rem;
    margin-right: 15px;
}

.todo-edit-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.7rem;
    margin-right: 15px;
}

.todo-cpmlt-edit-btn{
    background: none;
    color: white;
    border: none;
    font-size: 1.7rem;
    margin-right: 15px;
}

.todo-delete-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.7rem;

}

.todo-complete-btn[value="true"]{
    color: rgb(56, 206, 42);
}

.todo-complete-btn[value="true"]:hover{
    color: rgb(250, 47, 47);
}

.todo-complete-btn:hover {
    color: rgb(56, 206, 42);
}

.todo-edit-btn:hover{
    color: rgb(235, 197, 128);
}

.todo-cpmlt-edit-btn:hover{
    color: rgb(56, 206, 42);
}

.todo-delete-btn:hover {
    color: rgb(250, 47, 47);
}

.todo-complete-btn:focus,
.todo-delete-btn:focus {
    background: none;
    border: none;
    outline: none;
}

/* THE STYLING FOR THE ENTIRE TODO LIST ENDS HERE */

@media screen and (min-width:2000px) {

    .go-to-todolist-button {
        font-size: 1.7vw;
    }

    .go-to-top-button {
        font-size: 1.7vw;
    }



    .city-form label {
        font-size: 1vw;
    }

    .high-low-container h1 {
        font-size: 3vw;
    }

    .high-low-container h4 {
        margin-top: 0rem;
    }

    .high-low-container img {
        width: 4.5vw;
        height: 4.5vw;
        position: relative;
        right: 1rem;
        bottom: 0.5rem;
    }


    .location-and-time-container h1 {
        font-size: 2.5vw;
    }
    
    .location-and-time-container h2, .location-and-time-container h3 {
        font-size: 1.5vw;
    }

    .quote-of-the-day {
        margin-top: 5rem;
    }


    .todo-title-form label {
        font-size: 1.2vw;
    }

    .todo-description-form label {
        font-size: 1.2vw;
    }

    .todo-title {
        font-size: 1.4vw;
    }

    .todo-content {
        font-size: 1.2vw;
    }
}


@media screen and (max-width:1024px) {

    .go-to-top-button {
        font-size: 2.5vw;
    }

    .go-to-todolist-button {
        font-size: 2.5vw;
    }

    .city-name-input-container {
        width: 90%;
    }

    .city-form label {
        font-size: 2.5vw;
    }



    .weather {
        width: 90%;
    }

    .location-and-time-container h1 {
        font-size: 4vw;
    }
    
    .location-and-time-container h2, .location-and-time-container h3 {
        font-size: 3vw;
    }


    .high-low-container h1 {
        font-size: 4vw;
    }
    
    .high-low-container h4 {
        font-size: 2.5vw;
        margin-top: 0rem;
    }

    .conditions-container h5 {
        font-size: 2.5vw;
        margin-bottom: 0.8rem;
    }



    .quote-of-the-day {
        width: 90%;
    }

    .quote-of-the-day h2 {
        font-size: 2.5vw;
    }

    .quote-of-the-day h3 {
        font-size: 2.2vw;
    }



    .input-form-container {
        width: 90%;
    }
    .todo-description-form label {
        font-size: 3.5vw;
    }
    .todo-content {
        font-size: 3vw;
    }
}

@media screen and (max-width:800px) {
    .todo-list{
        align-items: flex-start;
    }

    .input-form-container {
        margin-top: 5rem;
    }

    .go-to-todolist-button {
        font-size: 4vw;
    }
    .go-to-top-button {
        font-size: 4vw;
    }
}


@media screen and (max-width:480px) {
    .city-form label {
        font-size: 4vw;
    }
    .format-example {
        font-size: 3.5vw;
    }
    .enter-city-button {
        font-size: 4.5vw;
    }

    .weather{
        flex-direction: column;
    }
    .location-and-time-container h1 {
        font-size: 6vw;
    }
    .location-and-time-container h2, .location-and-time-container h3 {
        font-size: 4vw;
    }
    .high-low-container h1 {
        font-size: 8vw;
    }
    
    .high-low-container h4 {
        font-size: 4vw;
    }
    .conditions-container{
        align-items: flex-end;
    }
    .conditions-container h5 {
        font-size: 4vw;
        margin-bottom: 0.8rem;
    }


    .quote-of-the-day h2 {
        font-size: 4.5vw;
    }
    .quote-of-the-day h3 {
        font-size: 4vw;
    }



    .go-to-todolist-button {
        font-size: 6vw;
    }

    .go-to-top-button {
        font-size: 6vw;
    }


    .todo-description-form label {
        font-size: 2rem;
    }
    .todo-component-div{
        height: 6rem;
        margin-bottom: 2rem;
    }
    .todo-content {
        font-size: 1.6rem;
    }
    .todo-content::before{
        content: "";
    }
    .btn-container{
        height: 100%;
        align-items: center;
    }
    .todo-complete-btn {
        font-size: 1.5rem;
        margin-right: 1.5rem;
    }
    .todo-delete-btn {
        font-size: 1.5rem;
    }
    .add-todo-button{
        font-size: 2rem;
    }
}